@import '../../asset/styles/color.less';
.site-meta {
  width: 700px;
  margin: 0 auto;
  text-align: center;
  padding: 100px 0 70px 0;
  .site-title-logo {
    background: #222;
    color: #fff;
    height: 36px;
    line-height: 36px;
    font-size: 20px;
    display: inline-block;
    padding: 0 20px;
  }
  .site-subtitle {
    font-size: 13px;
    color: @f-grey-1;
    margin-top: 10px;
  }
  .ul {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
    padding: 0 140px;
    >li {
      border-bottom: 1px solid;
      border-bottom-color: @theme;
      padding: 5px;
      transition: border-bottom-color .3s ease-in-out 0s;
      font-size: 13px;
      &:hover {
        border-bottom-color: @f-grey-2;
      };
      >a {
        display: inline-block;
        color: @f-grey-2;
        transition: color .1s ease-in-out 0s;
        &:hover {
          color: @f-red-1
        }     
      }
    }
  }
}