@import '../../asset/styles/color.less';
.sidebar {
  width: 0px;
  background: @f-grey-3;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  box-shadow: inset 0 2px 6px #000;
  transition: width .5s ease;
  .sidebar-inner {
    padding: 20px 10px;
    color: @f-grey-1;
    .section {
      width: 300px;
      .header {
        text-align: center;
        img {
          width: 96px;
          height: 96px;
          padding: 2px;
          border: 2px solid @f-grey-3;
        }
        p {
          color: @f-grey-4;
          margin-top: 5px;
          font-size: 17px;
        }
      }
      .motto {
        font-size: 14px;
        color: @f-grey-2;
        width: 300px;
        margin: 15px auto;
        text-align: center;
      }
      nav {
        text-align: center;
        margin: 15px 0;
        .nav-item {
          display: inline-block;
          padding: 0 15px;
          text-align: center;
          transition: color .2s ease-in-out;
          &:hover {
            color: #fff;
          }
          &:nth-child(2) {
            border-left: 1px solid @f-grey-5;
            border-right: 1px solid @f-grey-5;
          }
          div {
            &:first-child {
              font-size: 18px;
              margin-bottom: 5px;
            }
            &:nth-child(2) {
              font-size: 13px;
            }
          }
        }
      }

      .link {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        margin-top: 40px;
        a {
          color: @f-grey-1;
          display: inline-block;
          vertical-align: middle;
          margin-right: 20px;
          margin-bottom: 10px;
          border-bottom: 1px solid @f-grey-2;
          font-size: 13px;
          padding-bottom: 4px;
          transition: color .2s ease-in-out;
          &:hover {
            color: #eee;
          }
          &::before {
            display: inline-block;
            vertical-align: middle;
            margin-right: 3px;
            content: " ";
            width: 4px;
            height: 4px;
            border-radius: 50%;
            background: #ff38ff;
          };
          i {
            display: inline-block;
            margin: 0 3px;
            font-size: 10px
          }
        }
      }
    }
  }
}
.sidebar-showing {
  width: 320px;
}